.kaerebalink-box,
.booklink-box,
.pochireba {
	margin: 1.5em 0;
	padding: 2em 1em;
	border: 1px solid #bdc3c7;
}

.kaerebalink-box:before,
.kaerebalink-box:after,
.booklink-box:before,
.booklink-box:after,
.pochireba:before,
.pochireba:after {
	content: "";
	display: table;
}

.kaerebalink-box:after,
.booklink-box:after,
.pochireba:after {
	clear: both;
}

.kaerebalink-box,
.booklink-box,
.pochireba {
	zoom: 1;
}

.kaerebalink-image,
.booklink-image {
	text-align: center;
}

.kaerebalink-image amp-img,
.booklink-image amp-img {
	width: 160px;
	height: auto;
}

.kaerebalink-image img,
.kaerebalink-image amp-img,
.booklink-image img,
.booklink-image amp-img {
	margin: 0 auto;
}

.kaerebalink-info,
.booklink-info {
	overflow: hidden;
}

.kaerebalink-name,
.booklink-name {
	font-weight: bold;
}

.kaerebalink-powered-date,
.booklink-powered-date {
	margin-top: .5em;
	font-size: .3em;
	font-weight: normal;
}

.kaerebalink-detail,
.booklink-detail {
	margin-top: .5em;
	font-size: .7em;
}

.kaerebalink-link1,
.booklink-link2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: .5em -.5em 0;
}

.kaerebalink-link1 > div,
.booklink-link2 > div {
	margin-top: .5em;
	padding: 0 .5em;
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}

.kaerebalink-link1 a,
.booklink-link2 a {
	display: block;
	padding: .2em .5em;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.kaerebalink-link1 a:hover,
.booklink-link2 a:hover {
	color: #fff;
	opacity: .8;
}

.kaerebalink-link1 a:after,
.booklink-link2 a:after {
	content: '\f07a';
	font-family: 'FontAwesome';
	margin-left: .5em;
}

.shoplinkamazon a {
	background: #FF9900;
}

.shoplinkkindle a {
	background: #F47E1E;
}

.shoplinkrakuten a,
.shoplinkrakukobo a {
	background: #BF0000;
}

.pochireba p {
	margin: 0;
}

.pochi_img {
	float: left;
	margin-right: 1em;
}

amp-img.pochi_img {
	width: 100px;
	height: auto;
}

.pochi_info {
	overflow: hidden;
}

.pochi_name {
	font-weight: bold;
}

.pochi_seller,
.pochi_time,
.pochi_post {
	font-size: .6em;
}

@media screen and (min-width: 600px) {

.kaerebalink-image,
.booklink-image {
	float: left;
	margin-right: 1em;
}

.kaerebalink-link1 > div,
.booklink-link2 > div {
	width: 50%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
}

}

