@import "mixins";

.kaerebalink-box,
.booklink-box,
.pochireba {
  @include clearfix;
  margin: 1.5em 0;
  padding: 2em 1em;
  border: 1px solid #bdc3c7;
}

.kaerebalink-image,
.booklink-image {
  text-align: center;

  amp-img {
    width: 160px;
    height: auto;
  }
  img,
  amp-img {
    margin: 0 auto;
  }

  @include media-breakpoint(tb) {
    float: left;
    margin-right: 1em;
  }

}

.kaerebalink-info,
.booklink-info {
  overflow: hidden;
}

.kaerebalink-name,
.booklink-name {
  font-weight: bold;
}

.kaerebalink-powered-date,
.booklink-powered-date {
  margin-top: .5em;
  font-size: .3em;
  font-weight: normal;
}

.kaerebalink-detail,
.booklink-detail {
  margin-top: .5em;
  font-size: .7em;
}

.kaerebalink-link1,
.booklink-link2 {
  display: flex;
  flex-wrap: wrap;
  margin: .5em -.5em 0;

  & > div {
    margin-top: .5em;
    padding: 0 .5em;
    width: 100%;
    flex: 1 1 100%;
    @include media-breakpoint(tb) {
      width: 50%;
      flex: 1 1 50%;
    }
  }
}

.kaerebalink-link1 a,
.booklink-link2 a {
  display: block;
  padding: .2em .5em;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all .3s;
  &:hover {
    color: #fff;
    opacity: .8;
  }
}

.shoplinkamazon a {
  background: #FF9900;
}

.shoplinkkindle a {
  background: #F47E1E;
}

.shoplinkrakuten a,
.shoplinkrakukobo a {
  background: #BF0000;
}

.pochireba {
  p {
    margin: 0;
  }
}
.pochi_img {
  float: left;
  margin-right: 1em;
}
amp-img.pochi_img {
  width: 100px;
  height: auto;
}
.pochi_info {
  overflow: hidden;
}
.pochi_name {
  font-weight: bold;
}
.pochi_seller,
.pochi_time,
.pochi_post {
  font-size: .6em;
}
